{% spaceless %}
    {% for i in 1..months %}
        {% if i == 1 %}
            {% set month = start %}
        {% else %}
            {% set month = (start | date) ~ " + "~(i-1)~"month" %}
        {% endif %}

        {% set days_current = month | date('t') %}
        {% set first_day = "1." ~ (month | date('F Y')) %}
        {% set last_day = days_current~"." ~ (month | date('F Y')) %}
        {% set start_day_of_current = first_day | date("N") %}
        {% set end_day_of_current = last_day | date("N") %}
        <table class="cf-booking-calendar">
            <tr class="cf-booking-calendar-m">
                <th colspan="7">{{ month | date("F Y") }}</th>
            </tr>
            <tr>
                <th class="cf-booking-calendar-dow">Mo</th>
                <th class="cf-booking-calendar-dow">Tu</th>
                <th class="cf-booking-calendar-dow">We</th>
                <th class="cf-booking-calendar-dow">Th</th>
                <th class="cf-booking-calendar-dow">Fr</th>
                <th class="cf-booking-calendar-dow">Sa</th>
                <th class="cf-booking-calendar-dow">Su</th>
            </tr>
            <tr>
            {% for i in 1..days_current+start_day_of_current-1 %}
                {% if loop.index < start_day_of_current %}
                    <td class="cf-booking-calendar-empty"></td>
                {% else %}

                    {% set full_date = (loop.index - start_day_of_current + 1)~"."~month | date(" F Y") %}
                    {% set booked = 0 %}
                    {% set is_opener = 0 %}
                    {% set is_closer = 0 %}
                    {% for booking in bookings %}
                        {% if full_date | date("U") >= booking.start | date("U") and full_date | date("U") <= booking.end | date("U") %}
                            {% set booked = 1 %}
                        {% endif %}
                        {% if full_date | date("d F Y") == booking.start | date("d F Y") %}
                            {% set is_opener = 1 %}
                        {% endif %}
                        {% if full_date | date("d F Y") == booking.end | date("d F Y") %}
                            {% set is_closer = 1 %}
                        {% endif %}
                    {% endfor %}
                    <td class="cf-booking-calendar-d{% if booked == 1 %} booked{% endif %}{% if is_opener == 1 %} opener{% endif %}{% if is_closer == 1 %} closer{% endif %}{% if full_date | date("U") < "now" | date("U") %} muted{% endif %}">{{ loop.index-start_day_of_current+1 }}</td>
                    {% if loop.index%7 == 0 and loop.index < days_current+start_day_of_current-1 %}
                        </tr>
                        <tr>
                    {% elseif loop.index == days_current+start_day_of_current - 1%}
                         {% if end_day_of_current != 7 %}
                             {% for j in 1..7-end_day_of_current %}
                                 <td class="cf-booking-calendar-empty"></td>
                             {% endfor %}
                         {% endif %}
                        </tr>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </table>
    {% endfor %}
{% endspaceless %}
